include ../../components/button/button.pug
-let whatsapp = "./assets/img/svg/whatsapp.svg"
-let whatsappGrey = "./assets/img/svg/whatsapp-grey.svg"; 
-let vk = "/assets/img/svg/vk.svg";
-let vkGrey = "/assets/img/svg/vk-grey.svg"; 
-let instagram= "/assets/img/svg/instagram.svg"; 
-let instagramGrey= "/assets/img/svg/instagram-grey.svg"; 


header.header
    nav.header__nav
        ul.header__nav__items
            li.header__nav__item
                a(href="/#tastes").header__nav__link Вкусы
            li.header__nav__item
                a(href="/#faq").header__nav__link Вопросы
            li.header__nav__item
                a(href="/#reviews").header__nav__link Отзывы
    .header__social
        ul.header__social__items
            li.header__social__item 
                a(href="whatsapp://send?phone=+79286217794" title="Написать в WhatsApp").header__social__link
                    img(src=whatsapp alt="whatsapp-icon").header__social__img--hover
                    img(src=whatsappGrey alt="whatsapp-icon").header__social__img--visible

            li.header__social__item 
                a(target="_blank" rel="nofollow noopener noreferrer" title="Группа в VK" href="https://vk.com/aliceswondercakes").header__social__link
                    img(src=vk alt="vk-icon").header__social__img.header__social__img--hover
                    img(src=vkGrey alt="vk-icon").header__social__img--visible
            li.header__social__item 
                a(target="_blank" rel="nofollow noopener noreferrer" title="Профиль в Instagram" href="https://www.instagram.com/polina_arefieva/").header__social__link
                    img(src=instagram alt="instagram-icon").header__social__img.header__social__img--hover
                    img(src=instagramGrey alt="instagram-icon").header__social__img--visible

    .header__logo
        a(href="/").header__logo__name Alise's Wonder Cakes
        h2.header__logo__subname Муссовые торты. Ростов-на-Дону

    +button(["Заказать:","89286217794"],"tel:+79286217794")
    